svg.map {
    width: 482px;
    height: 640px;
    border: 2px solid black;
    margin: 8px;
}

g.taiwan {
    stroke: none;
    fill: green;
    stroke-linecap: round;
    stroke-linejoin: round;
}

g.county {
    stroke: white;
    stroke-width: 0.2px;
    fill:none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

g.district {
    stroke: white;
    stroke-width: 0.09px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

g.village {
    fill: none;
    stroke: white;
    stroke-width: 0.015px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.no-village g.village {
    display: none;
}