svg.map {
    width: 482px;
    height: 640px;
    border: 2px solid black;
    margin: 8px;
    background: ghostwhite;
}

g.taiwan {
    display: none;
    stroke: none;
    fill: white;
    stroke-linecap: round;
    stroke-linejoin: round;
}

g.county, g.electoral {
    stroke: white;
    stroke-width: 0.5px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

g.district {
    stroke: white;
    stroke-width: 0.3px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

g.village {
    fill: none;
    stroke: white;
    stroke-width: 0.02px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

g.no-village>g.village {
    display: none !important;
}

g.bg>* {
    stroke: none !important;
}

g.fg>* {
    fill: none !important; 
}