twmap {
    display: none;
}

.map {
    width: 450px;
    height: 600px;
    border: 0px solid black;
    margin: 8px;
    background: ghostwhite;
}

g.taiwan {
    stroke: none;
    fill: green;
    stroke-linecap: round;
    stroke-linejoin: round;
}

g.electoral {
    stroke: none;
    stroke-width: 0.5px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

g.county {
    stroke: white;
    stroke-width: 0.83px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

g.district {
    stroke: white;
    stroke-width: 0.3px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

g.village {
    fill: none;
    stroke: white;
    stroke-width: 0.05px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

g.no-village>g.village {
    display: none !important;
}