svg.map {
    width: 482px;
    height: 640px;
    border: 2px solid black;
    margin: 8px;
    background: ghostwhite;
}

g.taiwan {
    display: none;
    stroke: none;
    fill: white;
    stroke-linecap: round;
    stroke-linejoin: round;
}

g.electoral {
    display: none;
    stroke: white;
    stroke-width: 0.15px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

g.county {
    display: none;
    stroke: white;
    stroke-width: 0.5px;
    fill: #64a600;
    stroke-linecap: round;
    stroke-linejoin: round;
}

g.district {
    display: none;
    stroke: white;
    stroke-width: 0.1px;
    fill: red;
    stroke-linecap: round;
    stroke-linejoin: round;
}

g.village {
    fill: white;
    stroke: white;
    stroke-width: 0.02px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

g.no-village g.village {
}